USE [master]
GO
/****** Object:  Database [FengShuiNumbers]    Script Date: 23/06/2020 23:16:57 ******/
CREATE DATABASE [FengShuiNumbers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FengShuiNumbers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\FengShuiNumbers.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FengShuiNumbers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\FengShuiNumbers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FengShuiNumbers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FengShuiNumbers]
GO
/****** Object:  Table [dbo].[NumberList]    Script Date: 23/06/2020 23:16:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumberList](
	[id] [int] NOT NULL,
	[number] [varchar](50) NOT NULL,
	[provider] [varchar](50) NOT NULL,
 CONSTRAINT [PK_NumberList] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Auto_Increment', @value=N'true' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NumberList', @level2type=N'COLUMN',@level2name=N'id'
GO
USE [master]
GO
